// @import "reset.css"; 

html,body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.everything-after-nav {
    text-align: center;
}
.welcome-container {
    background-image: url("/dist/img/umbrella-lady.gif");
    background-size: 100%;
    background-color: gray;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    // margin: 
   
    .welcome-content{
        background-color: rgba(250, 138, 73, 0.6);
        padding-top: 2em;
        padding-bottom: 2em;
        margin-left: 20%;
        margin-right: 20%;
        position: absolute;
        top: 20%;
        border: 2px solid rgb(68, 185, 0);
        font-weight: bold;

        
        h1 {
            color: rgb(65, 204, 0);
            text-shadow: 3px 3px 2px black; //x y blur color
            font-size: 3em;
        }
        p {
            color: black;
            text-shadow: 1px 1px 10px white;
            margin-top: 2em;
            padding-left: 3em;
            padding-right: 3em;
            line-height: 150%;
 
        }
        
    }
} 

.general-map {
    padding: 0;
    margin-top: 0px;
    height: 100vh;
    width: 100%;
}

.large-sticky {
    position: sticky;
    top: 0;
    z-index:5;
}

.sm-textbox {
    width: 25%;
    
    padding: 20px;
    
}
.sm-textbox p {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20em;

}
// .sm-textbox p:not(:last-child){
//     margin-bottom: 20em;
// }

.lg-text-area {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3em;
    margin-bottom: 5em;

    p {
        margin-top: 3em;
    }
}
