#bootstrap-overrides .navbar-brand {
  color: aqua;
}

@media (min-width: 600px) {
  #bootstrap-overrides .navbar-brand {
    color: magenta;
  }
}

@media (min-width: 900px) {
  #bootstrap-overrides .navbar-brand {
    color: yellow;
  }
}

@media (min-width: 1200px) {
  #bootstrap-overrides .navbar-brand {
    color: greenyellow;
  }
}

@media (min-width: 1800px) {
  #bootstrap-overrides .navbar-brand {
    color: #ffd000;
  }
}

#bootstrap-overrides html, #bootstrap-overrides body {
  font-family: Arial, Helvetica, sans-serif;
}

#bootstrap-overrides .everything-after-nav {
  text-align: center;
}

#bootstrap-overrides h1 {
  font-size: 2em;
}

@media (min-width: 600px) {
  #bootstrap-overrides h1 {
    font-size: 2.5em;
  }
}

@media (min-width: 900px) {
  #bootstrap-overrides h1 {
    font-size: 3em;
  }
}

@media (min-width: 1800px) {
  #bootstrap-overrides h1 {
    font-size: 4em;
  }
}

@media (min-width: 1800px) {
  #bootstrap-overrides p {
    font-size: 1.5em;
  }
}

#bootstrap-overrides .welcome-container {
  background-image: url("/CascadeStorymap/src/appearance/img/umbrella-lady.gif");
  background-size: cover;
  background-color: gray;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

#bootstrap-overrides .welcome-container .welcome-content {
  background-color: rgba(250, 138, 73, 0.6);
  position: absolute;
  border: 2px solid #44b900;
  font-weight: bold;
  top: 3em;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1em;
  margin-top: 20%;
}

@media (min-width: 600px) {
  #bootstrap-overrides .welcome-container .welcome-content {
    top: 15%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1.5em;
    margin-top: 0%;
  }
}

@media (min-width: 900px) {
  #bootstrap-overrides .welcome-container .welcome-content {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 20%;
    margin-right: 20%;
    top: 20%;
  }
}

@media (min-width: 1800px) {
  #bootstrap-overrides .welcome-container .welcome-content {
    margin-left: 20%;
    margin-right: 20%;
  }
}

#bootstrap-overrides .welcome-container .welcome-content h1 {
  color: white;
  text-shadow: 3px 3px 2px black;
  padding-left: .3em;
  padding-right: .3em;
}

#bootstrap-overrides .welcome-container .welcome-content p {
  color: black;
  text-shadow: 0.08em 0.08em 1em white;
  margin-top: 2em;
  line-height: 150%;
}

#bootstrap-overrides section .general-map {
  padding: 0;
  margin-top: 0px;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

#bootstrap-overrides section .section-title {
  z-index: 3;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#bootstrap-overrides section .section-title h1 {
  color: black;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  padding: .3em;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 1em;
}

#bootstrap-overrides section .sm-textbox {
  width: 90%;
  z-index: 5;
  position: relative;
  padding: 2em;
  margin-left: 5%;
  margin-right: 5%;
}

@media (min-width: 600px) {
  #bootstrap-overrides section .sm-textbox {
    width: 40%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 900px) {
  #bootstrap-overrides section .sm-textbox {
    width: 35%;
  }
}

@media (min-width: 1200px) {
  #bootstrap-overrides section .sm-textbox {
    width: 25%;
  }
}

#bootstrap-overrides section .sm-textbox p {
  background-color: rgba(0, 0, 0, 0.8);
  padding: .8em;
  color: white;
  border: 1px solid black;
  border-radius: 0.5em;
  margin-bottom: 20em;
}

#bootstrap-overrides section .sm-textbox img {
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 1.5em;
  max-width: 90%;
}

#bootstrap-overrides .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#bootstrap-overrides .lg-text-area {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3em;
  margin-bottom: 5em;
  font-weight: bold;
}

@media (min-width: 600px) {
  #bootstrap-overrides .lg-text-area {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 900px) {
  #bootstrap-overrides .lg-text-area {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 1200px) {
  #bootstrap-overrides .lg-text-area {
    margin-left: 25%;
    margin-right: 25%;
  }
}

#bootstrap-overrides .lg-text-area h1 {
  color: black;
  text-shadow: 0.05em 0.05em 0.1em #4ca800;
}

#bootstrap-overrides .lg-text-area p {
  margin-top: 3em;
  line-height: 140%;
}

#bootstrap-overrides .lg-text-area img {
  background-color: gray;
  size: auto;
  max-width: 50%;
  border-radius: 2em;
  -webkit-box-shadow: 0.3em 0.3em 0.4em #4ca800;
          box-shadow: 0.3em 0.3em 0.4em #4ca800;
  margin: 2em;
}

@media (min-width: 600px) {
  #bootstrap-overrides .lg-text-area img {
    max-width: 50%;
  }
}

#bootstrap-overrides .credits {
  background-color: #011801;
  color: white;
  text-shadow: 0.05em 0.05em 0.1em #4ca800;
}
/*# sourceMappingURL=style.css.map */