#bootstrap-overrides * {
  font-family: "Noto Serif", serif;
  line-height: 1.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0px;
}

#bootstrap-overrides a {
  color: #cec083;
}

#bootstrap-overrides .navbar {
  font-size: 1em;
  background-color: #001407;
  padding-bottom: 4em;
  z-index: 500;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  overflow: hidden;
}

@media (min-width: 900px) {
  #bootstrap-overrides .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0;
    height: 3em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#bootstrap-overrides .main-nav {
  list-style-type: none;
  display: none;
}

@media (min-width: 900px) {
  #bootstrap-overrides .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 2em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

#bootstrap-overrides .nav-links {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

#bootstrap-overrides .main-nav li {
  text-align: center;
  margin: 2em auto;
}

@media (min-width: 900px) {
  #bootstrap-overrides .main-nav li {
    margin: 0;
  }
}

#bootstrap-overrides .logo {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Oswald", sans-serif;
}

@media (min-width: 900px) {
  #bootstrap-overrides .logo {
    margin-top: -.45em;
  }
}

#bootstrap-overrides .logo-hide {
  display: none;
}

#bootstrap-overrides #logo-img {
  position: fixed;
  margin-left: 0em;
  width: 8em;
}

#bootstrap-overrides .logo-text {
  display: none;
}

@media (min-width: 900px) {
  #bootstrap-overrides .logo-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #0000ad;
    font-weight: bold;
    margin-left: 11em;
    margin-top: auto;
    color: white;
    text-shadow: 2px 0 0 #56b, -2px 0 0 #56b, 0 2px 0 #56b, 0 -2px 0 #56b, 1px 1px #56b, -1px -1px 0 #56b, 1px -1px 0 #56b, -1px 1px 0 #56b;
    font-size: 1.2em;
  }
}

@media (min-width: 1200px) {
  #bootstrap-overrides .logo-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #0000ad;
    font-weight: bold;
    margin-left: 11em;
    margin-top: auto;
    color: white;
    text-shadow: 2px 0 0 #56b, -2px 0 0 #56b, 0 2px 0 #56b, 0 -2px 0 #56b, 1px 1px #56b, -1px -1px 0 #56b, 1px -1px 0 #56b, -1px 1px 0 #56b;
  }
}

#bootstrap-overrides #left-logo {
  float: left;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#bootstrap-overrides .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

@media (min-width: 900px) {
  #bootstrap-overrides .navbar-toggle {
    display: none;
  }
}

#bootstrap-overrides .active {
  display: block;
}

@media (min-width: 900px) {
  #bootstrap-overrides .nav-links {
    margin-left: 1.3em;
  }
}

#bootstrap-overrides .logo:hover {
  color: white;
}

#bootstrap-overrides .nav-links:hover {
  color: white;
}

#bootstrap-overrides #bars {
  position: relative;
  height: 2.5em;
  margin-top: -.4em;
  margin-bottom: 2em;
}

#bootstrap-overrides .everything-after-nav {
  text-align: center;
}

#bootstrap-overrides section {
  margin-bottom: 0em !important;
}

#bootstrap-overrides h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  margin-top: 1px;
}

@media (min-width: 600px) {
  #bootstrap-overrides h1 {
    font-size: 2.0em;
  }
}

@media (min-width: 900px) {
  #bootstrap-overrides h1 {
    font-size: 2.1em;
  }
}

@media (min-width: 1200px) {
  #bootstrap-overrides h1 {
    font-size: 2.5em;
  }
}

@media (min-width: 1930px) {
  #bootstrap-overrides h1 {
    font-size: 4em;
  }
}

@media (min-width: 1930px) {
  #bootstrap-overrides p {
    font-size: 1.5em;
  }
}

#bootstrap-overrides .middle-text {
  margin-bottom: 3em;
}

#bootstrap-overrides .welcome-container {
  background-image: url("/BloomingtonINTrees/src/appearance/img/bloomington/IMG_8075_edit.JPG");
  background-size: cover;
  background-color: gray;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

#bootstrap-overrides .welcome-container .welcome-content {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 19, 136, 0.65);
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0.5em;
  padding-top: 50%;
}

@media (min-width: 600px) {
  #bootstrap-overrides .welcome-container .welcome-content {
    text-align: left;
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 30%;
  }
}

@media (min-width: 900px) {
  #bootstrap-overrides .welcome-container .welcome-content {
    padding-left: 15%;
    padding-top: 14%;
  }
}

@media (min-width: 1480px) {
  #bootstrap-overrides .welcome-container .welcome-content {
    padding-top: 10%;
  }
}

#bootstrap-overrides .welcome-container .welcome-content h1 {
  margin-top: -.4em;
  margin-bottom: -.4em;
  line-height: normal;
  color: white;
  text-shadow: 3px 3px 2px black;
  font-size: 3.5em;
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  #bootstrap-overrides .welcome-container .welcome-content h1 {
    font-size: 5.5em;
  }
}

@media (min-width: 900px) {
  #bootstrap-overrides .welcome-container .welcome-content h1 {
    font-size: 7em;
  }
}

@media (min-width: 1480px) {
  #bootstrap-overrides .welcome-container .welcome-content h1 {
    font-size: 11em;
  }
}

#bootstrap-overrides .welcome-container .welcome-content p {
  color: white;
  text-shadow: 3px 3px 2px black;
  margin-top: 1em;
  line-height: 150%;
  font-size: 1.4em;
}

@media (min-width: 600px) {
  #bootstrap-overrides .welcome-container .welcome-content p {
    font-size: 2em;
  }
}

@media (min-width: 900px) {
  #bootstrap-overrides .welcome-container .welcome-content p {
    font-size: 3em;
  }
}

@media (min-width: 1480px) {
  #bootstrap-overrides .welcome-container .welcome-content p {
    font-size: 3.6em;
  }
}

#bootstrap-overrides .welcome-hr {
  width: .8em;
  margin: auto;
  margin-top: .1em;
  margin-bottom: .6em;
  height: 5px;
  background-color: white;
  text-shadow: 3px 3px 2px black;
}

@media (min-width: 600px) {
  #bootstrap-overrides .welcome-hr {
    padding-left: 15;
    margin-left: 0;
  }
}

#bootstrap-overrides section .general-map {
  padding: 0px !important;
  margin-top: 0px !important;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

#bootstrap-overrides section .overlay {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}

#bootstrap-overrides section .slideHolder {
  z-index: -1;
}

#bootstrap-overrides section .toggleButton {
  font-family: "Oswald", sans-serif;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  border-radius: 0.23em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2em;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #7f3d17;
}

#bootstrap-overrides section .toggleButton .toggleButton:hover {
  color: #000000;
  background-color: #ffffff;
}

@media (min-width: 600px) {
  #bootstrap-overrides section .toggleButton {
    top: 10em !important;
  }
}

@media (min-width: 900px) {
  #bootstrap-overrides section {
    margin-bottom: 0px !important;
  }
}

#bootstrap-overrides section .section-title {
  z-index: 35;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 3em;
}

#bootstrap-overrides section .section-title h1 {
  color: white;
  font-weight: bold;
  background-color: #001388;
  padding: .3em;
  width: 100%;
}

#bootstrap-overrides section .section-title .subsection {
  background-color: #97c0e6;
  padding: 0px;
  font-size: 2em;
}

#bootstrap-overrides section .sm-textbox {
  width: 90%;
  z-index: 4;
  position: relative;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 430px) {
  #bootstrap-overrides section .sm-textbox {
    width: 70%;
    padding: 5%;
  }
}

@media (min-width: 600px) {
  #bootstrap-overrides section .sm-textbox {
    width: auto;
    padding: 0;
    padding-left: 5%;
    padding-right: 70%;
  }
}

@media (min-width: 900px) {
  #bootstrap-overrides section .sm-textbox {
    width: auto;
    padding-left: 8%;
    padding-right: 65%;
  }
}

@media (min-width: 1200px) {
  #bootstrap-overrides section .sm-textbox {
    width: auto;
    padding-left: 8%;
    padding-right: 65%;
  }
}

#bootstrap-overrides section .sm-textbox p, #bootstrap-overrides section ul {
  background-color: rgba(0, 0, 0, 0.8);
  padding: .8em;
  color: white;
  border: 1px solid black;
  border-radius: 0.5em;
  margin-top: 20em;
}

#bootstrap-overrides section .sm-textbox img {
  margin-top: .2em;
  border-radius: 0.28em;
  max-width: 100%;
  padding-bottom: .2em;
}

#bootstrap-overrides section .photo-caption {
  font-size: 90%;
  text-align: center;
}

#bootstrap-overrides section a:hover {
  color: #f3fc80;
  text-decoration: underline;
}

#bootstrap-overrides section .right-content {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0em !important;
  z-index: 33;
  left: 80%;
  background-color: #f0f0f0;
  height: auto;
}

@media (min-width: 600px) {
  #bootstrap-overrides section .right-content {
    margin-left: 70%;
    margin-right: 3%;
    margin-bottom: 2em;
  }
}

@media (min-width: 1200px) {
  #bootstrap-overrides section .right-content {
    margin-left: 75%;
    margin-right: 3%;
    margin-bottom: 2em;
  }
}

#bootstrap-overrides section .legend {
  display: none;
}

@media (min-width: 600px) {
  #bootstrap-overrides section .legend {
    width: 25%;
    z-index: 4;
    padding: 2em;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 1200px) {
  #bootstrap-overrides section .legend {
    width: 12em;
  }
}

#bootstrap-overrides section table {
  margin-left: auto;
  margin-right: auto;
}

#bootstrap-overrides section .esriLegendLayerLabel {
  color: black;
  font-weight: bold;
  font-size: .9em;
  margin-bottom: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

#bootstrap-overrides section .esriLegendLayerLabel tbody {
  margin-left: auto;
  margin-right: auto;
  color: black;
}

#bootstrap-overrides section .esriLegendLayerLabel tbody tr td {
  padding-top: .2em;
  padding: 1em;
}

#bootstrap-overrides section .esriLegendServiceLabel {
  display: none;
}

#bootstrap-overrides section .esriLegendLayer {
  background-color: #f0f0f0;
}

@media (min-width: 600px) {
  #bootstrap-overrides section .esriLegendLayer {
    margin-left: 0;
    padding-left: 0;
    postion: relative;
    left: 2em;
  }
}

#bootstrap-overrides section .esriLegendLayer table {
  position: relative;
  left: 20%;
  font-size: .8em;
}

@media (min-width: 600px) {
  #bootstrap-overrides section .esriLegendLayer table {
    left: 100%;
    margin-left: 0;
    width: 120%;
  }
}

#bootstrap-overrides section td img {
  position: relative;
  left: 1em;
}

#bootstrap-overrides section .esriLegendService {
  background-color: #f0f0f0;
  border-radius: .23em;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

#bootstrap-overrides .esriSimpleSlider {
  background-color: rgba(255, 255, 255, 0.904);
  margin-top: 7em;
}

@media (min-width: 600px) {
  #bootstrap-overrides .esriSimpleSlider {
    margin-left: 90%;
  }
}

@media (min-width: 900px) {
  #bootstrap-overrides .esriSimpleSlider {
    margin-left: 93%;
  }
}

@media (min-width: 1480px) {
  #bootstrap-overrides .esriSimpleSlider {
    margin-left: 96%;
  }
}

#bootstrap-overrides .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#bootstrap-overrides .lg-text-area {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3em;
  font-weight: bold;
}

@media (min-width: 600px) {
  #bootstrap-overrides .lg-text-area {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 900px) {
  #bootstrap-overrides .lg-text-area {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 1200px) {
  #bootstrap-overrides .lg-text-area {
    margin-left: 25%;
    margin-right: 25%;
  }
}

#bootstrap-overrides .lg-text-area h1 {
  color: black;
  font-weight: 900;
}

#bootstrap-overrides .lg-text-area p {
  margin-top: 3em;
  line-height: 140%;
}

#bootstrap-overrides .lg-text-area img {
  background-color: gray;
  size: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: .28em;
}

#bootstrap-overrides .lg-text-area .caption-for-large-text-area {
  max-width: 100%;
  font-size: 80%;
  font-family: "Oswald", sans-serif;
}

#bootstrap-overrides .credits {
  background-color: #011801;
  color: white;
  text-shadow: 0.05em 0.05em 0.1em black;
}
/*# sourceMappingURL=style.css.map */