@import "variables.scss";  
#bootstrap-overrides{
    *{
        font-family: $page-font;
        line-height: 1.5em;
        // overflow-x: hidden; //messes up layering

        //troubleshooting nav dropdown //no effect
        box-sizing: border-box;
        padding: 0;
        margin: 0px ; 
    }  
    a {
        color: #cec083;
    }
    .navbar {
        font-size: 1em;
        // background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
        background-color: $nav-bkgnd-color;
        padding-bottom: 4em;
        z-index: 500;
        position: fixed;
        top: 0;
        width: 100%;
        transition: top 0.3s; //Transition effect when sliding up/down
        // height: 2.5em;
        overflow: hidden;
        @include for-tablet-landscape-up {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0;
            height: 3em;
            align-items: center;
        }
    }
    .main-nav {

        list-style-type: none;
        display: none;
        @media screen and (min-width: 1480px) {
            display: flex;
            margin-right: 2em;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    .nav-links {
        text-decoration: none;
        color: $nav-links-color;
    }
    .main-nav li {
        text-align: center;
        margin: 2em auto;
        @include for-tablet-landscape-up {
            margin: 0;
        }
    }
    .logo {
        display: inline-block;
        text-decoration: none;
        font-size: 1.5em;
        font-family: $logo-font;
        // background-color: white;
        // color: rgba(0, 0, 173, 0.849);
        //text-shadow: $nav-title-shadow;
        // background-color: rgba(0, 0, 173, 0.849);
        @include for-tablet-landscape-up{
            margin-top: -.45em; 
        }
    }
    .logo-hide {
        display: none;
    }
    #logo-img {
        // background-color: white;

        // max-height: 1.4em !important;
        position: fixed;
        // padding-top: .1em;
        margin-left: 0em;
        width: 8em;
        // height: 2.5em;
        // max-width: 2.5em;
        @include for-tablet-landscape-up {
            // height: 3em;
            // max-width: 1.5em;
        }
    }
    .logo-text {
        display: none;
        @include for-tablet-landscape-up{
            display: flex;
            color: $nav-title-color;
            font-weight: bold;
            margin-left: 11em;
            margin-top: auto;
            color: rgb(255, 255, 255);
            text-shadow: 2px 0 0 #56b, -2px 0 0 #56b, 0 2px 0 #56b, 0 -2px 0 #56b, 1px 1px #56b, -1px -1px 0 #56b, 1px -1px 0 #56b, -1px 1px 0 #56b;
            font-size: 1.2em;
        }
        @include for-desktop-up {
            // letter-spacing: .1em;
            display: flex;
            color: $nav-title-color;
            font-weight: bold;
            margin-left: 11em;
            margin-top: auto;
            color: rgb(255, 255, 255);
            text-shadow: 2px 0 0 #56b, -2px 0 0 #56b, 0 2px 0 #56b, 0 -2px 0 #56b, 1px 1px #56b, -1px -1px 0 #56b, 1px -1px 0 #56b, -1px 1px 0 #56b;
        }
    }
    #left-logo { //the image and text
        float: left;
        list-style-type: none;
        display: flex;
        margin-right: 2em;
        flex-direction: row;
        justify-content: flex-end;
    }


    
    
    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        color: $nav-toggle-color;
        font-size: 24px;
        @media screen and (min-width: 1480px) { //same as set for links to disappear
            display: none;
        }
    }
    .active {
        display: block;
      }
    .nav-links{
        @include for-tablet-landscape-up{
            margin-left: 1.3em;
        }
    }
    .logo:hover{ 
        color: $nav-links-hover;
    }
    .nav-links:hover{
        color: $nav-links-hover;
    }
    #bars {
        position: relative;
        height: 2.5em;
        margin-top: -.4em;
        margin-bottom: 2em;
    }



// .logo { //color changes for testing only
//     color: aqua; //for-phone-only / default
//     @include for-tablet-portrait-up {
//         color: magenta;
//     }
//     @include for-tablet-landscape-up {
//         color: yellow;
//     }
//     @include for-desktop-up {
//         color: greenyellow;
//     }
//     @include for-big-desktop-up {
//         color: rgb(255, 208, 0); 
//     }
// }



.everything-after-nav {
    text-align: center;
}
section { //generic 
    margin-bottom: 0em !important; //does not reduce spacing
}
h1{ //generic
    font-family: $logo-font;
    // letter-spacing: .07em;
    font-size: 2em;
    @include for-tablet-portrait-up {
        font-size: 2.0em;
    }
    @include for-tablet-landscape-up {
        font-size: 2.1em;
    }
    @include for-desktop-up{
        font-size: 2.5em;
    }
    @include for-big-desktop-up {
        font-size: 4em;
    }
}
p{ //generic
    @include for-big-desktop-up {
        font-size: 1.5em;
    }
}
.middle-text {
    margin-bottom: 3em;
}


.welcome-container {
    background-image: $welcome-img-url;
    // background-size: 100%;
    background-size: cover;
    background-color: $backup-color;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    
    .welcome-content{
        height: 100%;
        width: 100%;
        
        background-color: $welcome-box-background-color;
        position: absolute;
        border: $welcome-box-border-color;
        border-radius: 0.5em;
        padding-top: 50%; 

        @include for-tablet-portrait-up {
            text-align: left;
            padding-left: 10%;
            padding-right: 15%;
            padding-top: 30%;
        }
        @include for-tablet-landscape-up {
            padding-left: 15%;
            padding-top: 14%;
        }
        @include for-desktop-up {
            padding-left: 15%;
        }
        
        h1 {
            margin-top: -.4em;
            margin-bottom:-.4em;
            line-height: normal;
            color: $welcome-h1-color;
            text-shadow: $welcome-h1-shadow; //x y blur color
            font-size: 3.5em;
            padding-left: auto;//.3em;
            padding-right: auto;//.3em;
            margin-left: auto;
            margin-right: auto;
            @include for-tablet-portrait-up {
                font-size:5.5em;
            }
            @include for-tablet-landscape-up {
                font-size:7em;
            }

        }
        p{
            color: $welcome-p-color;
            text-shadow: $welcome-p-shadow;
            margin-top: 1em;
            // padding-left: 3em;
            // padding-right: 3em;
            line-height: 150%;
            font-size: 1.4em;
            // font-weight: 100;
            @include for-tablet-portrait-up {
                font-size:2em;
            }
            @include for-tablet-landscape-up {
                font-size:3em;
            }

        }
    }
}
.welcome-hr {
    width: .8em;
    margin:auto;
    margin-top: .1em;
    margin-bottom: .6em;
    height: 5px;
    background-color: white;

    @include for-tablet-portrait-up {
        padding-left: 15;
        margin-left:0;
        // margin-top: .4em;
    }
}




section {
    .general-map {
        padding: 0px !important;
        margin-top: 0px !important;
        height: 100vh;
        width: 100%;
        z-index: 1 ;
        // border: .2em solid black;
    }
    .overlay {
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.0);
        z-index: 2;
    }
    // .LayerSwipe { //works, but hard to turn back on
    //     display:none !important;
    // }
    // #swipeDiv2 { 
    //     display:none !important;
    // }
    .slideHolder {
        z-index: -1;
    }



    .toggleButton{
        font-family: $logo-font;
        padding: 0.35em 1.2em;
        border: 0.1em solid #FFFFFF;
        border-radius: 0.23em;
        box-sizing: border-box;
        text-decoration:none;
        font-weight:300;
        font-size: 1.2em;
        width: 100%;
        color: #FFFFFF;
        text-align: center;
        transition: all 0.2s; 
        background-color: rgb(127,61,23);  //rgb(103, 219, 123);

        .toggleButton:hover {
            color: #000000;
            background-color: #ffffff 
        }
        @include for-tablet-portrait-up {
            top: 10em !important;
        }
        @include for-tablet-landscape-up {
        }
        @include for-desktop-up {
        }
    }           //commenting this out did not reduce the spacing oh nos!
            @include for-tablet-landscape-up { //Here is the spacing between sections
            margin-bottom: 0px !important;
        }
    

    .section-title{ /// must be fixed, opacity 0, change when map stick
        z-index: 35;
        position: relative;
        position: sticky;
        top: 3em;
            h1 {
                color: $map-h1-text-color;
                font-weight: bold;
                background-color: $map-h1-bkgnd-color;
                padding: .3em;
                width: 100%;
            }
            .subsection {
                background-color: rgb(151,192,230);
                padding: 0px;
                // font-weight: 100;
                font-size: 2em;
            }
        
    }

    

    .sm-textbox {
        width: 90%;
        // background-color: magenta;
        z-index: 4;
        position: relative;
        padding: 2%;  
        margin-left: auto;
        margin-right: auto;
    @media screen and (min-width : 430px){
        width: 70%;
        padding: 5%;
    }
        @include for-tablet-portrait-up {
            width: auto;
            padding: 0;
            padding-left: 5%;
            padding-right: 70%;
        }
        @include for-tablet-landscape-up {
            // width: 35%;
            width: auto;
            padding-left: 8%;
            padding-right: 65%;
        }
        @include for-desktop-up {
            width: auto;
            padding-left: 8%;
            padding-right: 65%;
        }
    }
    .sm-textbox p, ul {
        background-color: $sm-textbox-bkgnd-color;  
        padding: .8em;
        color: $sm-textbox-text-color;
        border: $sm-textbox-border-color;
        border-radius: 0.5em;
        margin-bottom: 20em;
    }
    .sm-textbox img {
        margin-top: .2em; 
        border-radius: 0.28em;
        max-width: 100%;
        padding-bottom: .2em;
    }  

    .photo-caption {
        // max-width: 90%;
        font-size: 90%;
        text-align: center;
    }
    a:hover {
        color: rgb(243, 252, 128);
        // background-color: transparent;
        text-decoration: underline;
      }



    .right-content{
        display: block;
        position: sticky;
        bottom: 0em !important;
        z-index: 33;
        left: 80%;
        background-color: rgb(240, 240, 240);
        height: auto;
        // border: solid;
        @include for-tablet-portrait-up{
             margin-left: 70%;
            margin-right: 3%;
            margin-bottom: 2em;
        }
        @include for-desktop-up{
            margin-left: 75%;
            margin-right: 3%;
            margin-bottom: 2em;
        }
    }

    .legend {
        display: none;
        // border: solid;
        @include for-tablet-portrait-up {
            // display: block;
            width: 25%;
            z-index: 4;
            padding: 2em;
            margin-left: 5%;
            margin-right: 5%;
        }
        @include for-desktop-up {
            width: 12em; 
            $legend-width: 12em;
        }
    }
    table{
        margin-left: auto; 
        margin-right: auto;
    }
    .esriLegendLayerLabel  { // the subheading (the heading we want)
        color: black;
        font-weight: bold;
        font-size: .9em;
        margin-bottom: 5px;
        margin-left: 10%;
        margin-right: 10%;
        @include for-tablet-portrait-up{
            // margin-left: 0;
            // margin-right: 0;
        }

        tbody {
            margin-left: auto;
            margin-right: auto;
            color: black;
            // background-color: aqua; // only effects title
    
            tr {
                td{
                    padding-top: .2em;
                    // padding-bottom: 2em;
                    // margin-bottom: 2em;
                    // background-color: aqua;
                    padding: 1em;
                    // background-color: magenta; //only effect title
                
            
                }
            }
        }
    }
    .esriLegendServiceLabel { 
        display: none;  //turns off the title I don't want

    }
    .esriLegendLayer {// the icon half of the table
        background-color: rgb(240, 240, 240);
        // padding-bottom: 20em; does nothing
        
        // margin-bottom: 2em;  //helps
        // background-color: yellow; 
        @include for-tablet-portrait-up{
            margin-left: 0;
            padding-left: 0;
            postion: relative;
            left: 2em;
        }

    }
    .esriLegendLayer table{ //the words next to the icons
        // background-color: red;
        position: relative;
        left: 20%; 
        font-size: .8em;
        // padding-bottom: 2em; //no effect
        // margin-bottom: 2em; //adds space to the bottom but also between all the rows
        @include for-tablet-portrait-up{
            left: 100%;
            margin-left: 0;
            width:120%;

        }
    }
    // .esriLegendLayer tbody tr:last-child td{ //attempt to increase the space after the last row
        // margin-bottom: 20em;
        // padding-bottom: 20em;
        // background-color: red;
    // }
    td img {
        position: relative;
        left: 1em;
    }
    .esriLegendService {
        background-color: rgb(240, 240, 240);
        border-radius: .23em;
        //border: #000000; not effective
        padding-bottom: 2em;
        margin-bottom: 2em;
    }
}
.esriSimpleSlider { //the ZOOM button
    background-color: rgba(255, 255, 255, 0.904);
    margin-top: 7em;
    // margin-left: 70%;
    @include for-tablet-portrait-up {
        margin-left: 90%;
    }
    @include for-tablet-landscape-up {
        margin-left: 93%;
    }
    @include for-desktop-med-up {
        margin-left: 96%;

    }
}



.sticky {
    position: sticky;
    top: 0;
}



.lg-text-area {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3em;
    // margin-bottom: 5em;
    font-weight: bold;
    @include for-tablet-portrait-up {
        margin-left: 15%;
        margin-right: 15%;
    }
    @include for-tablet-landscape-up {
        margin-left: 20%;
        margin-right: 20%;
    }
    @include for-desktop-up {
        margin-left: 25%;
        margin-right: 25%;
    }


    h1{
        color: $lg-text-h1-color;
        font-weight: 900;
        // text-shadow: $lg-text-h1-shadow;
    }
    p {
        margin-top: 3em;
        line-height: 140%;
    }
    img {
        background-color: $backup-color;
        size: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        border-radius: .28em;
    }
    .caption-for-large-text-area {
        max-width: 100%;
        font-size: 80%;
        font-family: $logo-font;
    }
}

.credits {
    background-color: $credits-bkgnd-color;
    color: $credits-text-color;
    text-shadow: $lg-text-h1-shadow;
}


}