@import "variables.scss";  
#bootstrap-overrides{
    *{
        font-family: $page-font;
        line-height: 1.5em;
        // overflow-x: hidden; //messes up layering

        //troubleshooting nav dropdown //no effect
        box-sizing: border-box;
        padding: 0;
        margin: 0px ; 
    }  
    a {
        color: #cec083;
        pointer-events: auto;
    }
    .navbar {
        font-size: 1em;
        // background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
        background-color: $nav-bkgnd-color;
        padding-bottom: 4em;
        z-index: 500;
        position: fixed;
        top: 0;
        width: 100%;
        transition: top 0.3s; //Transition effect when sliding up/down
        // height: 2.5em;
        overflow: hidden;
        @include for-tablet-landscape-up {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0;
            height: 3em;
            align-items: center;
        }
    }
    .main-nav {

        list-style-type: none;
        display: none;
        @include for-tablet-landscape-up {
            display: flex;
            margin-right: 2em;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    .nav-links {
        text-decoration: none;
        color: $nav-links-color;
    }
    .main-nav li {
        text-align: center;
        margin: 2em auto;
        @include for-tablet-landscape-up {
            margin: 0;
        }
    }
    .logo {
        display: inline-block;
        text-decoration: none;
        font-size: 1.5em;
        font-family: $logo-font;
        // background-color: white;
        // color: rgba(0, 0, 173, 0.849);
        //text-shadow: $nav-title-shadow;
        // background-color: rgba(0, 0, 173, 0.849);
        @include for-tablet-landscape-up{
            margin-top: -.45em; 
        }
    }
    .logo-hide {
        display: none;
    }
    #logo-img {
        // background-color: white;

        // max-height: 1.4em !important;
        position: fixed;
        // padding-top: .1em;
        margin-left: 0em;
        width: 8em;
        // height: 2.5em;
        // max-width: 2.5em;
        @include for-tablet-landscape-up {
            // height: 3em;
            // max-width: 1.5em;
        }
    }
    .logo-text {
        display: none;
        @include for-tablet-landscape-up{
            display: flex;
            color: $nav-title-color;
            font-weight: bold;
            margin-left: 11em;
            margin-top: auto;
            color: rgb(255, 255, 255);
            text-shadow: 2px 0 0 #56b, -2px 0 0 #56b, 0 2px 0 #56b, 0 -2px 0 #56b, 1px 1px #56b, -1px -1px 0 #56b, 1px -1px 0 #56b, -1px 1px 0 #56b;
            font-size: 1.2em;
        }
        @include for-desktop-up {
            // letter-spacing: .1em;
            display: flex;
            color: $nav-title-color;
            font-weight: bold;
            margin-left: 11em;
            margin-top: auto;
            color: rgb(255, 255, 255);
            text-shadow: 2px 0 0 #56b, -2px 0 0 #56b, 0 2px 0 #56b, 0 -2px 0 #56b, 1px 1px #56b, -1px -1px 0 #56b, 1px -1px 0 #56b, -1px 1px 0 #56b;
        }
    }
    #left-logo { //the image and text
        float: left;
        list-style-type: none;
        display: flex;
        margin-right: 2em;
        flex-direction: row;
        justify-content: flex-end;
    }


    
    
    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer; 
        color: $nav-toggle-color;
        font-size: 24px;
        @include for-tablet-landscape-up { //same as set for links to disappear
            display: none;
        }
    }
    .active {
        display: block;
      }
    .nav-links{
        @include for-tablet-landscape-up{
            margin-left: 1.3em;
        }
    }
    .logo:hover{ 
        color: $nav-links-hover;
    }
    .nav-links:hover{
        color: $nav-links-hover;
    }
    #bars {
        position: relative;
        height: 2.5em;
        margin-top: -.4em;
        margin-bottom: 2em;
    }



// .logo { //color changes for testing only
//     color: aqua; //for-phone-only / default
//     @include for-tablet-portrait-up {
//         color: magenta;
//     }
//     @include for-tablet-landscape-up {
//         color: yellow;
//     }
//     @include for-desktop-up {
//         color: greenyellow;
//     }
//     @include for-big-desktop-up {
//         color: rgb(255, 208, 0); 
//     }
// }



.everything-after-nav {
    text-align: center;
}
section { //generic 
    margin-bottom: 1px !important; //does not reduce spacing
}
h1{ //generic
    font-family: $logo-font;
    // letter-spacing: .07em;
    font-size: 2em;
    margin-top: 1px;
    @include for-tablet-portrait-up {
        font-size: 2.0em;
    }
    @include for-tablet-landscape-up {
        font-size: 2.1em;
    }
    @include for-desktop-up{
        font-size: 2.5em;
    }
    @include for-big-desktop-up {
        font-size: 4em;
    }
}
p{ //generic
    @include for-big-desktop-up {
        font-size: 1.5em;
    }
}
.middle-text {
    margin-bottom: 3em;
}


.welcome-container {
    background-image: $welcome-img-url;
    // background-size: 100%;
    background-size: cover;
    background-color: $backup-color;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    
    .welcome-content{
        height: 100%;
        width: 100%;
        
        background-color: $welcome-box-background-color;
        position: absolute;
        border: $welcome-box-border-color;
        border-radius: 0.5em;
        padding-top: 50%; 

        @include for-tablet-portrait-up {
            text-align: left;
            padding-left: 10%;
            padding-right: 15%;
            padding-top: 30%;
        }
        @include for-tablet-landscape-up {
            padding-left: 15%;
            padding-top: 14%;
        }
        @include for-desktop-med-up {
            padding-top: 10%;
        }
        @include for-desktop-up {
            // padding-left: 15%;
        }
        
        h1 {
            margin-top: -.4em;
            margin-bottom:-.4em;
            line-height: normal;
            color: $welcome-h1-color;
            text-shadow: $welcome-h1-shadow; //x y blur color
            font-size: 3.5em;
            padding-left: auto;//.3em;
            padding-right: auto;//.3em;
            margin-left: auto;
            margin-right: auto;
            @include for-tablet-portrait-up {
                font-size:5.5em;
            }
            @include for-tablet-landscape-up {
                font-size:7em;
            }
            @include for-desktop-med-up {
                font-size: 11em;
            }

        }
        p{
            color: $welcome-p-color;
            text-shadow: $welcome-h1-shadow;
            margin-top: 1em;
            // padding-left: 3em;
            // padding-right: 3em;
            line-height: 150%;
            font-size: 1.4em;
            // font-weight: 100;
            @include for-tablet-portrait-up {
                font-size:2em;
            }
            @include for-tablet-landscape-up {
                font-size:3em;
            }
            @include for-desktop-med-up {
                font-size: 3.6em;
            }

        }
    }
}
.welcome-hr {
    width: .8em;
    margin:auto;
    margin-top: .1em;
    margin-bottom: .6em;
    height: 5px;
    background-color: white;
    text-shadow: $welcome-h1-shadow;


    @include for-tablet-portrait-up {
        padding-left: 15;
        margin-left:0;
        // margin-top: .4em;
    }
}
/* Credit for this wonderful scrolldown animation goes to this person:
https://www.youtube.com/watch?v=UaYXrbNDqXM */
.scrolldown {
    position: absolute;
    bottom: 1%;
    left: 50%;
    width: 50px;
    height: 50px;
    // background: #fff;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
    @include for-desktop-med-up{
        width: 80px;
        height: 80px;
    
    }
}
.scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    animation: animate 2s linear infinite;
    animation-delay: 30s;
    opacity: 0;
}
.scrolldown span:nth-child(1){
    transform: translate(-15px,-15px);
    animation-delay: -0.4s;
}
.scrolldown span:nth-child(2){
    transform: translate(0px,0px);
    animation-delay: -0.2s;

}
.scrolldown span:nth-child(3){
    transform: translate(15px,15px);
    animation-delay: 0s;

}
@keyframes animate {
   0% {
       top: -5px;
       left: -5px;
       opacity: 0;
   } 
   25% {
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%,100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    } 
}



.photo-background {
    position: relative ;
}
// .map-container-so-bottom-stick{
//     position: relative;
//     height: 100vh;
//     // z-index: 20; //did not help put it on top of map

// }
.stick-map-buttons-to-bottom{
    position: absolute !important;
    bottom: 20em;
    right: 0px;
    z-index: 999;
}
section {
    // position: relative;
    .general-map {
        padding: 0px !important;
        margin-top: 0px !important;
        height: 100vh;
        width: 100%;
        z-index: 1 ;
        // border: .2em solid black;
    }
    .overlay {
        pointer-events: none;

        height: 50vh;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.0);
        z-index: 2;
    }
    // .fullpage-img-container{
    //     // width: 100%;
    //     // height: 100vh;

    // }
    .fullpage-photo-caption {
        font-family: $logo-font;        
        position: absolute;
        // height: 50px;
        padding-left:3px;
        padding-right: 3px;
        bottom: 0px;
        right: 0px;
        color: black;
        background: white;
        text-align:center;
        font-weight:bold;
        opacity:0.7;
        z-index: 34;
        // // position: absolute;
        // width: 20px;
        // // bottom: 8px;
        // // left: 16px;    
        // top: 80%;
    }

    // .LayerSwipe { //works, but hard to turn back on
    //     display:none !important;
    // }
    // #swipeDiv2 { 
    //     display:none !important;
    // }
    .slideHolder {
        z-index: -1;
    }
    p, ul, li {
        line-height: 1.8;
    }
    ul, li{
        list-style-position: inside;
        list-style-type: square;
        // list-style-image: url('getALeaf.png');
    }
    li {
        padding-left: 2em;
        padding-top: 1em;
        text-align: left;

    }

    .basemap-switch {
        /*//This is the same style as used on the .esriSimpleSlider ZOOM class, just tweaked a little */
        // background-color: rgba(255, 255, 255, 0.904);
        // z-index: 31;
        // margin-top: 20em;
        margin-left: 70%;
        @include for-tablet-portrait-up {
            margin-left: 90%;
        }
        @include for-tablet-landscape-up {
            margin-left: 93%;
        }
        @include for-desktop-med-up {
            margin-left: 96%;
    
        }
        /* // This is the style from Lower Grand MI
        */
        position: absolute;
        z-index: 999;
        top: 200px;
        left: 20px;
        width: 35px;
        height: 35px;
        border-radius: 5px;
        border: 1px solid white;
        background-image: url("/BloomingtonINTrees/src/appearance/img/roadmap1.JPG");
        background-color: tan;
    }
    .satellite {
        background-image: url("/BloomingtonINTrees/src/appearance/img/sat.jpg");
    }
    .zoom-tour {
        margin-left: 63%;
        position: absolute;
        z-index: 999;
        margin-top: 5em;
        left: 20px;
    }
    .toggle-tour {
        margin-left: 56.5%;
        position: absolute;
        z-index: 999;
        margin-top: 8em;
        left: 10px;
    }

    .highlight {
        // background-color: lawngreen;
        // border-style: solid;
        // border-width: 10px;
        // border-color: lawngreen;
        animation-name: blink;
        animation-duration: 1s;
        animation-iteration-count: 10;
    }
    .highlight-toggleswitch {
        outline-style: solid;
        outline-color: lawngreen;
        outline-width: 8px;
    }
    @keyframes blink {
        0% {background-color: lawngreen;}
        25% {background-color: lawngreen;}
        49%{    background-color: none;}
        50%{    background-color: none;}
        99%{    background-color: none;  }
        100% {background-color: none;}

    }
    .esriSimpleSlider { //the ZOOM button
        background-color: rgba(255, 255, 255, 0.904);
        margin-top: 7em;
        // margin-left: 70%;
        @include for-tablet-portrait-up {
            margin-left: 90%;
        }
        @include for-tablet-landscape-up {
            margin-left: 93%;
        }
        @include for-desktop-med-up {
            margin-left: 96%;
    
        }
    }

    .toggleButton{
        pointer-events: auto;
        font-family: $logo-font;
        padding: 0.35em 1.2em;
        border: 0.1em solid #FFFFFF;
        border-radius: 0.23em;
        box-sizing: border-box;
        text-decoration:none;
        font-weight:300;
        font-size: 1.2em;
        width: 100%;
        color: #FFFFFF;
        text-align: center;
        transition: all 0.2s; 
        background-color: rgb(127,61,23);  //rgb(103, 219, 123);

        .toggleButton:hover {
            color: #000000;
            background-color: #ffffff 
        }
        @include for-tablet-portrait-up {
            top: 10em !important;
        }
        @include for-tablet-landscape-up {
        }
        @include for-desktop-up {
        }
    }           //commenting this out did not reduce the spacing oh nos!
            @include for-tablet-landscape-up { //Here is the spacing between sections
            margin-bottom: 0px !important;
        }
    

    .section-title{ /// must be fixed, opacity 0, change when map stick
        z-index: 35;
        position: relative;
        position: sticky;
        top: 3em;
            h1 {
                color: $map-h1-text-color;
                font-weight: bold;
                background-color: $map-h1-bkgnd-color;
                padding: .3em;
                width: 100%;
            }
            .subsection {
                background-color: rgb(151,192,230);
                padding: 0px;
                // font-weight: 100;
                font-size: 2em;
            }
        
    }

    .click-through {
        pointer-events: none;
        height: 100vh;
        // z-index: 30;
    }
    .unclickable {
        pointer-events: none;
    }
    .sm-textbox {
        margin-top: -50vh;
        pointer-events:none;
        width: 90%;
        // background-color: magenta;
        z-index: 31; //4;
        position: relative;
        padding: 2%;  
        margin-left: auto;
        margin-right: auto;
    @media screen and (min-width : 430px){
        width: 70%;
        padding: 5%;
    }
        @include for-tablet-portrait-up {
            width: auto;
            padding: 0;
            padding-left: 5%;
            padding-right: 70%;
        }
        @include for-tablet-landscape-up {
            // width: 35%;
            width: auto;
            padding-left: 8%;
            padding-right: 65%;
        }
        @include for-desktop-up {
            width: auto;
            padding-left: 8%;
            padding-right: 65%;
        }
    }
    .over-map{
        margin-top: -150vh;
    }

    .sm-textbox p, ul {
        background-color: $sm-textbox-bkgnd-color;  
        padding: .8em;
        color: $sm-textbox-text-color;
        border: $sm-textbox-border-color;
        border-radius: 0.5em;
        margin-top: 13em; //margin-bottom causes an undesired space between the big sections
        font-size: 1em;
    }
    .sm-textbox img {
        margin-top: .2em; 
        border-radius: 0.28em;
        max-width: 100%;
        padding-bottom: .2em;
    }  

    .photo-caption {
        // max-width: 90%;
        font-size: 90%;
        text-align: center;
    }
    .bigger {
        width:200%;
    }
    a:hover {
        color: rgb(243, 252, 128);
        // background-color: transparent;
        text-decoration: underline;
      }



    .right-content{
        // margin-left: 90%;
        position: absolute;
        // z-index: 999 !important;
        bottom: 0px;
        right: 0px;


        /*This is the original when it would stick for a bit 
        then scroll before the paragraph blocks*/
        // display: block;
        // position: sticky;
        // bottom: 0em !important;
        // z-index: 33;
        // left: 80%;
        background-color: rgb(240, 240, 240);
        // height: auto;
        // // border: solid;
        // @include for-tablet-portrait-up{
        //      margin-left: 70%;
        //     margin-right: 3%;
        //     margin-bottom: 2em;
        // }
        // @include for-desktop-up{
        //     margin-left: 75%;
        //     margin-right: 3%;
        //     margin-bottom: 2em;
        // }
    }

    .legend {
        display: none;
        // border: solid;
        @include for-tablet-portrait-up {
            // display: block;
            width: 25%;
            z-index: 4;
            padding: 2em;
            margin-left: 5%;
            margin-right: 5%;
        }
        @include for-desktop-up {
            width: 12em; 
            $legend-width: 12em;
        }
    }
    table{
        margin-left: auto; 
        margin-right: auto;
    }
    .esriLegendLayerLabel  { // the subheading (the heading we want)
        color: black;
        font-weight: bold;
        font-size: .9em;
        margin-bottom: 5px;
        margin-left: 10%;
        margin-right: 10%;
        @include for-tablet-portrait-up{
            // margin-left: 0;
            // margin-right: 0;
        }

        tbody {
            margin-left: auto;
            margin-right: auto;
            color: black;
            // background-color: aqua; // only effects title
    
            tr {
                td{
                    padding-top: .2em;
                    // padding-bottom: 2em;
                    // margin-bottom: 2em;
                    // background-color: aqua;
                    padding: 1em;
                    // background-color: magenta; //only effect title
                
            
                }
            }
        }
    }
    .esriLegendServiceLabel { 
        display: none;  //turns off the title I don't want

    }
    .esriLegendLayer {// the icon half of the table
        background-color: rgb(240, 240, 240);
        // padding-bottom: 20em; does nothing
        
        // margin-bottom: 2em;  //helps
        // background-color: yellow; 
        @include for-tablet-portrait-up{
            margin-left: 0;
            padding-left: 0;
            postion: relative;
            left: 2em;
        }

    }
    .esriLegendLayer table{ //the words next to the icons
        // background-color: red;
        position: relative;
        left: 20%; 
        font-size: .8em;
        // padding-bottom: 2em; //no effect
        // margin-bottom: 2em; //adds space to the bottom but also between all the rows
        @include for-tablet-portrait-up{
            left: 100%;
            margin-left: 0;
            width:120%;

        }
    }
    // .esriLegendLayer tbody tr:last-child td{ //attempt to increase the space after the last row
        // margin-bottom: 20em;
        // padding-bottom: 20em;
        // background-color: red;
    // }
    td img {
        position: relative;
        left: 1em;
    }
    .esriLegendService {
        background-color: rgb(240, 240, 240);
        border-radius: .23em;
        //border: #000000; not effective
        padding-bottom: 2em;
        margin-bottom: 2em;
    }
}




.sticky {
    position: sticky;
    top: 0;
}



.lg-text-area {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3em;
    // margin-bottom: 5em;
    font-weight: bold;
    @include for-tablet-portrait-up {
        margin-left: 15%;
        margin-right: 15%;
    }
    @include for-tablet-landscape-up {
        margin-left: 20%;
        margin-right: 20%;
    }
    @include for-desktop-up {
        margin-left: 30%;
        margin-right: 30%;
    }


    h1{
        color: $lg-text-h1-color;
        font-weight: 900;
        // text-shadow: $lg-text-h1-shadow;
    }
    p {
        margin-top: 3em;
        line-height: 140%;
    }
    img {
        background-color: $backup-color;
        size: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        border-radius: .28em;
    }
    .caption-for-large-text-area {
        max-width: 100%;
        font-size: 80%;
        font-family: $logo-font;
    }
}

.credits {
    background-color: $credits-bkgnd-color;
    color: $credits-text-color;
    text-shadow: $lg-text-h1-shadow;
    margin-top: 1px;
    // position: relative;
    text-align: right;
}

#footer-img {
    height: 8em;
    margin-top: 5px;
    margin-right: 5px;

    // padding-bottom: 3em;
    position: relative;
    bottom: 2px;
    // right: 10px;
}

}